@font-face {
    font-family: shrek;
    src: url(SHREK.TTF);
}

:root { --shrek:#B2D307 }



h1, p { 
    color:var(--shrek);
}

h1 {
    font-size: 50pt;
    text-align: center;
    font-family: shrek;
}



body {
    background-image: url(background.gif);
    background-color: rgb(73, 73, 73);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position: center center;
    position:absolute;

}

@media screen and (min-width: 1920px) {
    body {background-size: 1024px, 1024px;}
}

@media screen and (min-width: 108-px) {
    body {background-size: 800px, 800px;}
}
/*
@media screen and (min-width: 800px) {
    body {background-size: 512px, 512px;}
}

@media screen and (min-width: 480px) {
    body {background-size: 128px, 128px;}
}
*/